$eggshell: #FFFAEF;
$cream: #FFE9BE;
$royal: #4B2F53;
$sunrise: #F28A2F;
$honey: #FFD341;
$chocolate: #532F2F;
$darkbrown: #23150A;
$seafoam: #728972;
$mint: darkseagreen;
$mist: #ADA4AF;


.Sign_In_Style{
    // Body style
    background-color: $mint;      
    // min-height: 100vh;       
    height:100%;
    width: 100%;             
    display: flex;          
    align-items: center;    
    justify-content: center; 
    font-family: 'Calistoga', sans-serif;

    // Sign-up container
    .container{
        display: flex;
        flex-direction: column;
        // margin-top: 200px;
        width: 75%;
        background: $eggshell;
        padding-bottom: 35px;
        max-width: 540px;
        min-width: 300px;
        // margin: 100px auto 20px;
        margin: 100px auto 100px auto;
        overflow: visible;
        border-radius: 10px;
        outline: #532F2F dashed 6px;
        box-shadow:  0 0 0 19.32px $honey; 
    }

    // Sign-up container background-pattern
    .container{
        background-image: url('images/Hive_Pattern.png');
        background-position: top right;
        background-repeat:repeat-y;
        background-size: 540.518px  439.838px;
        height: auto;
    }
    


    // Title Box
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 9px;
        width: 100%;
        margin-top: 30px;
        flex-wrap: wrap;
        // border: 3px solid black;
    }

    // Title
    .text{
        display:flex;
        justify-content: center;
        color: $royal;
        // font-size: 48px;
        // font-weight: 700;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 40.679px;

    }

    // Subtitle under main title
    .subtitle{
        display: flex;
        justify-content: center;
        padding-top: 10.6px;
        width: 350px;
        height: 20px;
        border-radius: 9px;
        color: $chocolate;
        font-size: 18px;
    }



    // All info inputs and labels container
    .inputs{
        margin-top: 25px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;
        // border: 3px solid black;
    }

    // Individual info inputs and labels containers
    .input_box{
        // margin: auto;
        // padding-left: 10px;
        // padding-right: 10px;
        width: 100%;
        // border: 3px solid black;
    }

    // labels
    .input_box p{
        color: $chocolate;
        font-size: 18px;
    }

    // Inputs
    .input{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto; 
        width: 100%;
        // width: 495px;
        // height: 70px;
        background: $cream;
        border-radius: 40px;
        // border: 3px solid black;
    }

      // Input text box content
    .input input{
        position:relative;
        height: 50px;
        width: 400px;
        background: transparent;
        border: none;
        outline: none;
        color: $chocolate;
        // font-size: 18.5px;
        font-size: 18px;
        font-family: 'Calistoga', sans-serif;
        //padding: 10px;
        flex: 1;
        // border: 3px solid black;
    }
    
    // Input box icons
    .input i{
        margin: 0px 30px;
        font-size: 20px;
        color: gray;
        // border: 3px solid black;
    }

    .input2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto; 
        width: 100%;
        // width: 495px;
        // height: 70px;
        background: $cream;
        border-radius: 40px;
        // border: 3px solid black;
    }

    .input2 input{
        position:relative;
        height: 50px;
        width: 336px;
        background: transparent;
        border: none;
        outline: none;
        color: $chocolate;
        // font-size: 18.5px;
        font-size: 18px;
        font-family: 'Calistoga', sans-serif;
        //padding: 10px;
        flex: 1;
        // border: 3px solid black;
    }

    .input2 i{
        margin: 0px 30px;
        font-size: 20px;
        color: gray;
        // border: 3px solid black;
    }

    .password-toggle-icon {
        // position: absolute;
        // top: 8px;
        // right: 10px;
        // z-index: 1000;
        // position: absolute;
        margin-left: 15px;
        margin-right: 20px;
        font-size: 20px;
        color: gray;
        cursor: pointer;
        // right: 80px;
        // border: 3px solid black;
    }



// Remember account and forgot password container
    .forgot-container{
        display: flex;
        // gap: 200px;
        margin: 15px auto;
        font-size: 16.5px;
        // border: black 5px solid;
        width: 100%;
    }

    // remember me container
    .remember-password{
        padding-left: 10px;
        display: flex;
        color: $chocolate;
        // border: 8px solid black;
    }

    // checkbox color change
     input[type="checkbox"]{
        accent-color: $sunrise;
    }

    // forgot password container
    .forgot-password{
        margin-left: 47%;
        display: flex;
        // border: 8px solid black;
    }

    // forgot password link style
    .forgot-password a:link{
        color: $sunrise;
        background-color: transparent;
        text-decoration: none;
    }

    // forgot password hover over link style
    .forgot-password a:hover{
        color: orangered;
        background-color: transparent;
        text-decoration: underline;
    }



  // Buttons container 
    .submit-container{
        display: flex;
        justify-content: center;
        margin: 30px;
    }

    // Button style
    .submit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px; 
        height: 52px;
        color: white;
        background: $sunrise;
        border-radius: 50px;
        font-size: 19px;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.25);
    }



    //Signup/Login container
    .page-change{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    // Sign-Up link
    .Sign-Up span{
        color: $sunrise;
        cursor: pointer;
        font-weight: 600;
        // text-decoration: underline;
    }
 
    // Login link
    .Login span{
        color: $sunrise;
        cursor: pointer;
        font-weight: 600;
        // text-decoration: underline;
    }

     //Sign-up link hover
    .Sign-Up span:hover{
        color: orangered;
        background-color: transparent;
        text-decoration: underline;
    }

    // Login link hover
    .Login span:hover{
        color: orangered;
        background-color: transparent;
        text-decoration: underline;
    }



    //Sign up text
    .Sign-Up{
        // padding-left: 62px;
        margin-top: 16px;
        color: $mist;
        font-size: 17px;
        text-align: left;
    }

    //Login Text
    .Login{
        // padding-left: 62px;
        margin-top: 16px;
        color: $mist;
        font-size: 17px;
        text-align: left;
    }


    // button inactive state
    // .gray{
    //     background:#EAEAEA;
    //     color:#676767;
    // }








    
    // Container Side Decorations
    .side-decor{
        // border: 10px solid black;
        position: relative;
    }

    .side-decor img{
        // border: 10px solid black;
        position: absolute;
        display:block;
    }

     // Login page decor
    #drip1 {
        // display: block;
        // position: absolute;
        width: 95px;
        height: 60px;
        left: 5%;
        bottom: -6.3rem;
    }

     #drip3 {
        // display: block;
        // position: absolute;
        width: 62px;
        height: 61px;
        left: 45%;
        bottom: -6.5rem;
    }

    #drip2 {
        // display: block;
        // position: absolute;
        width: 88px;
        height: 35px;
        left: 78%;
        bottom: -4.9rem;
    }

    #right-drip {
        width: 30px;
        height: 60px;
        left: 102.5%;
        bottom: 48rem;
        transform: rotate(4deg);
    }

    #left-drip{
        width: 35px;
        height: 64px;
        left: -8%;
        top: -45rem;
    }

    #left-flower{
        width: 122.764px;
        height: 148.944px;
        left: -18.5%;
        top: -30rem;
        // transform: rotate(-25deg);
    }

    #two-flowers{
        width: 107px;
        height: 128px;
        left: 78%;
        top: -60.5rem;
    }

    #right-flower{
        width: 135px;
        height: 283px;
        left: 96.5%;
        bottom: 7.75rem;
    }

     #right-drip {
        width: 30px;
        height: 60px;
        left: 102.5%;
        bottom: 48rem;
        transform: rotate(4deg);
    }

    #left-drip{
        width: 35px;
        height: 64px;
        left: -8%;
        top: -45rem;
    }

    #left-flower{
        width: 122.764px;
        height: 148.944px;
        left: -18.5%;
        top: -30rem;
        // transform: rotate(-25deg);
    }

    #two-flowers{
        width: 107px;
        height: 128px;
        left: 78%;
        top: -60.5rem;
    }

    #right-flower{
        width: 135px;
        height: 283px;
        left: 96.5%;
        bottom: 7.75rem;
    }



    // Sign-in page decor
     #right-drip-2 {
        width: 30px;
        height: 60px;
        left: 102.5%;
        bottom: 15rem;
        transform: rotate(4deg);
    }

    #left-drip-2{
        width: 35px;
        height: 64px;
        left: -8%;
        top: -28rem;
    }

    #left-flower-2{
        width: 122.764px;
        height: 148.944px;
        left: -18.5%;
        top: -14rem;
        // transform: rotate(-25deg);
    }

    #two-flowers-2{
        width: 107px;
        height: 128px;
        left: 70%;
        top: -43.5rem;
    }

    #right-flower-2{
        width: 135px;
        height: 283px;
        left: 96.5%;
        bottom: -2.75rem;
    }
}

// .input {
//     position: relative; // This is the anchor for your eye icon
//     display: flex;
//     align-items: center;
    
//     input {
//         width: 100%;
//         padding-right: 40px; // Make space so text doesn't go under the eye
//     }

//     .password-toggle-icon {
//         position: absolute;
//         right: 15px;
//         top: 50%;
//         transform: translateY(-50%); // Perfectly centers the icon vertically
//         cursor: pointer;
//         color: #777;
//     }
// }
